<nav class="navbar navbar-light bg-light static-top">
    <div class="container">

        <a class="navbar-brand" href="{% url 'AppBuildInicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'AppBuildObraFormulario' %}">Obra</a>
        <a class="navbar-brand" href="{% url 'AppBuildObreroFormulario' %}">Obrero</a>
        <a class="navbar-brand" href="{% url 'AppBuildArquitectoFormulario' %}">Arquitecto</a>
        <a class="navbar-brand" href="{% url 'AppBuildBusquedaTipo' %}">Busqueda</a>

        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>
